@font-face {
  font-family: 'Futura', serif;
}



body {
  margin: 0;
  background-color: #EFF0F2;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  color: #758CF4;
  font-family: Futura;
  font-size: 30pt;
  line-height: 31pt
}

p {
  color: #2E4880;
  font-family: Futura;

}

h3 {

}

/* Navigation Bar */

.nav_bar {
  display: block;
  position: fixed;
  z-index: 10;
  padding: 0 2em;
  width: -webkit-fill-available;
}

.nav_title {
  color: #2E4880;
  display: -webkit-box;
  font-size: 14pt;
  position: absolute;
}

.main_logo {
  margin: 0.4em 0em 0px 0;
  width: 4em;
}

.nav_buttons {
  text-align: -webkit-right;
  margin-top: 1.9em;
}

.nav_clicks {
  margin: 0 0.5em;
  color: #EFF0F2;
  font-weight: bold;
  display: -webkit-inline-box;
}


/* Landing Screen */

.landing_screen {
  width: auto;
  background-image: url("images/landing_screen_backdrop.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 870px;
  padding: 5em;
  height: 120%;
}


.landing_header_text {
  width: 9em;
  margin-bottom: 1em;
}

.quote {
  height: 5.5em;
  position: absolute;
}

.landing_body_text {
  width: 25em;
  font-weight: bold;
  margin: 0 0 2em 2em;
}

.landing_buttons {
  width: 8em;
  margin-right: 1em;
}

.landing_buttons:hover {
  /*box-shadow: 0 0 20px 0px #2e48804d;*/
  transition: 0.5s;
}

/* Video screen */


.video_screen {
  display: flex;
  height: 120%;
  padding: 3em;

}

.video_splash {
  width: -webkit-fill-available;
  transform: scale(1.5);
}

.video_left_selection {
  width: -webkit-fill-available;
}

.video_header_text {
  color: #2E4880;
  width: 12em;
}

.video_body_text {
  width: 20em;
  font-weight: bold;
  color: #758CF4;
  margin: 2em 0;
}

.our_work {
  width: 9em;
}

  /* Animation Screen */

.animation_screen {
  background-image: url(images/animation_backdrop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 120%;
  text-align: center;
  padding: 10em
}

.animation_splash {
  width: 400px;
  margin: 2em auto;
}

.animation_selection {

}

.animation_header_text {
  color: #2E4880;
  width: 16em;
  margin: auto;
}

.animation_body_text {
  width: 30em;
  font-weight: bold;
  color: #758CF4;
  margin: 1.5em auto;
}

.contact_screen {
  background-image: url(images/contact_backdrop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 120%;
  padding: 16em 5em 10em 10em;
  text-align: right;
  z-index: 2;
}

.contact_header_text {
  color: #2E4880;
}

.contact_body_text {
  color: #758CF4;
  width: 25em;
  margin: 0px 0px 2em auto;
  font-weight: bold;
}

.email {
  width: 11.5em
}

.phone_number {
  width: 9em;
  margin-top: 1em

}

/*  Mobile  */

@media only screen and (max-width: 900px){


  .landing_screen {
    width: auto;
    height: 120%;
    background-image: url("images/landing_screen_backdrop.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 870px;
    padding: 5em;
  }

  .landing_header_text {
    width: 9em;
    margin-bottom: 1em;
  }

  .quote {
    height: 5.5em;
    position: absolute;
  }

  .landing_body_text {
    width: 25em;
    font-weight: bold;
    margin: 0 0 2em 2em;
  }

  .landing_buttons {
    width: 8em;
    margin-right: 1em;
  }






}
