@font-face {
  font-family: 'Poppins-Regular';
  src:  url('fonts/Poppins-Regular.ttf') format('TrueType');
}
@font-face {
  font-family: 'Poppins-Bold';
  src:  url('fonts/Poppins-Bold.ttf') format('TrueType');

}



body {
  margin: 0;
  background-color: #eee;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: "Poppins-Regular";
}

h1 {
  color: #222;
  font-family: "Poppins-Bold";
  font-weight: bold;
  font-size: 30pt;
  line-height: 31pt
}
h2 {
  font-family: "Poppins-Bold";
  font-weight: bold;
  font-size: 16pt;
  line-height: 31pt
}

p {
  color: #222;
  font-family: "Poppins-Regular";

}

h3 {

}

/* Navigation Bar */

.nav_bar {
  display: block;
  position: fixed;
  z-index: 10;
  padding: 0 3em 1em;
  width: -webkit-fill-available;
  background-color: #222;
}

.nav_title {
  display: -webkit-box;
  font-size: 14pt;
  position: absolute;
  color: #eee;
}

.main_logo {
  margin: 0.4em 0em 0px 0;
  width: 4em;
}

.main_logo_white {
  display: none;
  margin: 0.4em 0em 0px 0;
  width: 4em;
}

.nav_buttons {
  text-align: -webkit-right;
  margin-top: 1.4em;
  color: #eee;
}

.nav_clicks {
  margin: 0 0.5em;
  font-size: 12pt;
  display: -webkit-inline-box;
}


/* Landing Screen */

.landing_screen {
  width: auto;
  background-image: url("images/backdrop.JPG");
  background-attachment: fixed;
  background-size: contain;
  padding: 14em;
  height: 100%;
  text-align: center;
}


.landing_header_text {
  color: #eee;
  margin-bottom: 1em;
}

.quote {
  height: 5.5em;
  position: absolute;
}

.landing_body_text {
  color: #eee;
  width: 40em;
  font-weight: bold;
  margin: 0 auto 2em auto;
}

.landing_buttons {
  width: 8em;
  margin-right: 1em;
}

.landing_buttons:hover {
  /*box-shadow: 0 0 20px 0px #2e48804d;*/
  transition: 0.5s;
}

/* Video screen */


.video_screen {
  display: inline-flex;
  height: 120%;
  padding: 6em;

}

.video_splash {
  flex: 1;
  width: 15em;
  height: 15em;
}

.video_left_selection {
  width: -webkit-fill-available;
  flex: 2;
  margin-left: 11em;
}

.video_header_text {
  width: 12em;
}

.video_body_text {
  width: 30em;
  font-weight: bold;
  margin: 2em 0;
}

.our_work {
  width: 11em;
}

  /* Animation Screen */

.animation_screen {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120%;
  text-align: center;
  padding: 10em
}

.animation_splash {
  width: 400px;
  margin: 2em auto;
}

.animation_selection {

}

.animation_header_text {
  width: 16em;
  margin: auto;

}

.animation_body_text {
  width: 30em;
  font-weight: bold;
  margin: 1.5em auto;

}

.contact_screen {
  background-image: url(images/contact_backdrop.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 120%;
  padding: 10em;
  text-align: center;
  z-index: 2;
}

.contact_header_text {
  color: #eee;
}

.contact_body_text {
  margin: 0 auto 2em auto;
  width: 40em;
  font-weight: bold;
  color: #eee;
}

.email {
  padding: 0.1em;
  background-color: #eee;
  width: 29em;
  margin: 0 auto;
  margin-bottom: 1em;
  border-radius: 1em;
}

.phone_number {
  width: 9em;
  margin-top: 1em

}

/*  Mobile  */

@media only screen and (max-width: 900px){

  body {
    width: min-content;
  }

  .nav_bar {
    text-align: center;
    width: 100%;
    padding: 0em 3em 4.7em;
  }

  .nav_title {
    color: #eff0f2;
    margin: 1em auto;
    width: -webkit-fill-available;
  }


  .nav_buttons {
    display: none;
  }

  .landing_screen {
    /* background-image: url("images/landing_screen_backdrop_mobile.svg"); */
    background-size: auto;
    background-position: top;
    padding: 19em 2.2em;
    text-align: center;
  }

  .quote {
    display: none;
  }

  .landing_header_text {
     margin: 0.5em auto;
  }

  .quote {

  }

  .landing_body_text {
    margin: 1em auto;
    width: 33em;
    }

  .landing_buttons {
    margin: inherit auto;
  }

  .video_screen {
    display: block;
    /* background-image: url(images/animation_backdrop.svg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 1em;
    text-align: center;
  }

  .video_splash {
    width: 10em;
    margin: 1em auto;
  }

  .video_left_selection {
    margin: 0em auto 1em auto;

  }

  .video_header_text {
    font-size: 23pt;
    margin: 1em auto 0.5em auto;
  }

  .video_body_text {
    margin: 0em auto 1.5em auto;

  }

  .animation_screen {
    padding: 10em 1em;
    text-align: center;
  }

  .animation_header_text {
    font-size: 20pt;
    margin: 1em auto;
    width: auto;
  }

  .animation_body_text {
    margin: 1em auto;
    font-size: 15pt;
    width: auto;
  }

  .animation_splash {
    width: 16em;
  }


  .contact_screen {
    padding: 10em 1em;
    text-align: center;
    /* background-image: url(images/contact_backdrop_mobile.svg); */
  }

  .contact_header_text {
    margin: 1em auto;
    width: auto;
  }

  .contact_body_text {
    margin: 3em auto;
    width: 80%;
  }




}
