/* Primary color #3EDFD7 */
/* Secondary color #191E24 */
/* Background color #CBFFFB */
/* Accent color #DF3E46 */

/* Main.css By Jish Ernderson - GitHub */


@font-face {
  font-family: 'Open Sans';
  src:  url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('TrueType'),
}

.grid {
  background-image: url(../images/cs.png);
  background-attachment: fixed;
  position: fixed;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.ancor_with_no_decoration {
  text-decoration: none;
}

.heading5 {
  color: #cf6468;
  font-family: Open Sans;
  font-size: 20pt;
  letter-spacing: 1

}

.nav {
  padding: 1em 5em 1em 4em;
  position: fixed;
  width: -webkit-fill-available;
  z-index: 100;
  text-align: center;
  background-color: hsla(213, 18%, 5%, 0.5);
}

.nav_title {
  font-family: Open Sans;
  font-size: 2em;
  margin: 0;
  width: 3em;
  color: #ffffff;
  float: left;
}

.nav_links {
  margin-top: 0.6em;
  float: right;
}

.nav_link {
  color: hsla(0, 0%, 100%, 0.32);
  font-family: Open Sans;
  font-size: 1.3em;
  letter-spacing: 3px;
  margin: 0 0 0 3em;
  text-decoration: none;
  transition: 0.5s;
}
.nav_link:hover {
  color: #fff;
}

.lable {
  color: #191E24;
  font-family: Open Sans;
  font-size: 1.8em;
  letter-spacing: 1;
  text-decoration: none;
  transition: 0.5s;

}

.submitten {
  background-color: #3EDFD7;
  border-style: none;
  color: #fff;
  width: 10em;
  height: 3em;
  font-variant-caps: all-petite-caps;
  letter-spacing: 1px;
  transition: 0.5s;
}

.submitten:hover {
  background-color: hsl(130, 73%, 54%);
  color: #fff;
  transform: scale(1.1);
}
.scrolldown {
  display: none;
}
.mobile_sevices {
  display: none;
}

.logo {
  width: 30%;

}

h1 {

}
h2 {

}
span {
  font-size: 1.3em;
  display: block;
  font-family: Open Sans;
  font-weight: bolder;
  letter-spacing: 3px;
  color: hsl(177, 21%, 68%);
}

input {
  border-radius: 2em;
  border-style: solid;
  width: 15em;
  /* height: 5em; */
  font-size: 2em;
  padding: 1em;
  border-color: #aaa;
  margin: 1em;
}

textarea {
  border-radius: 3em;
  border-style: solid;
  padding: 1em;
  border-color: #aaa;
  font-size: 1.5em;
  max-width: 100%;
  max-height: 100%;
}

iframe {
  width: 100%;
  height: 550px;
}

.contact_card {
  text-align: -webkit-center;
}

/* ----------------- HOME PAGE ----------------- */


/* ::::::: HEADER ::::::: */

.header {
  background-image: url(../images/a.jpg);
  background-size: cover;
  height: auto;
  background-attachment: fixed;
  padding: 10% 0;
  text-align: -webkit-center;
}


.llogo {
  display: none;
}

.sub_grand_title {
  margin: 1em;
  width: 70%;
  font-size: 8em;
  text-align: center;
  margin-top: 0;
  font-family: Open Sans;
  font-weight: bold;
  letter-spacing: 2px;
  color: hsl(173, 100%, 90%);
  margin-bottom: -5px;
  display: none;
}

hr {
  margin-top: 4%;
  width: 50px;
  margin-bottom: -5.4%;
  color: #cf6468;
  border-style: solid;
}


.grand_title {
  margin: 1em;
  font-size: 3em;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  letter-spacing: 3px;
  color: hsl(177, 12%, 58%)
}

.into_buttons {
  display: -webkit-inline-box;

}


/* ::::::: service ::::::: */


.service {
  background-color: #fff;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding: 1em 8% 1em 8%;
  text-align: center;
}

.service_header {
  font-size: 5em;
  font-family: Open Sans;
  font-weight: bold;
  letter-spacing: 2px;
  color: #191E24;
  margin-bottom: 0.5em;
}

.the_services {
  display: inline-flex;;
}

/* VIDEO PRODUCTION SERVICE */

.video_production_service {
  float: right;
  margin: 7em 7em;
  text-align: center;
  flex: 2
}

.video_img {
  width: 20em;
}

.video_s_heading {
  text-align: center;
  /* max-width: 50%; */
  font-size: 2em;
  font-family: Open Sans;
  font-weight: bold;
  letter-spacing: 2px;
  color: #191E24;
}

.video_s_paragraph {
  text-align: center;
  font-size: 2em;
  font-family: Open Sans;
  letter-spacing: 3px;
  font-variant-caps: all-petite-caps;
  color: hsla(213, 18%, 12%, 0.65);
}

/* ANIMATION SERVICE */

.animation_service {
  float: left;
  margin: 7em 6em;
  text-align: center;
  flex: 1;
}

.animation_img {
  width: 20em;
}

.animation_s_heading {
  text-align: center;
  /* max-width: 50%; */
  font-size: 2em;
  font-family: Open Sans;
  font-weight: bold;
  letter-spacing: 2px;
  color: #191E24;
}

.animation_s_paragraph {
  text-align: center;
  font-size: 2em;
  font-family: Open Sans;
  letter-spacing: 3px;
  font-variant-caps: all-petite-caps;
  color: hsla(213, 18%, 12%, 0.65);
}

/* INTERACTIVE BUTTONS */

.see_more {
  display: inline-block;
}

.swap_button_learn {
  background-image: url(../images/learnmore.png);
  width: 348px;
  height: 142px;
  transition: 0.3s;
  transform: scale(0.6);
}
.swap_button_learn:hover {
  background-image: url(../images/learnmorea.png);
  /*transform: scale(0.65);*/
}
.swap_button_learn:active {
  background-image: url(../images/learnmorea.png);
  /*transform: scale(0.6);*/
}

.swap_button_learn2 {
  background-image: url(../images/services_blue.png);
  width: 420px;
  height: 150px;
  transition: 0.3s;
  transform: scale(0.6);
}
.swap_button_learn2:hover {
  background-image: url(../images/services_white.png);
  /*transform: scale(0.65);*/
}
.swap_button_learn2:active {
  background-image: url(../images/services_white.png);
  /*transform: scale(0.6);*/
}

.swap_button_contact {
  background-image: url(../images/contactus.png);
  width: 348px;
  height: 142px;
  transition: 0.3s;
  transform: scale(0.6);
}
.swap_button_contact:hover {
  background-image: url(../images/contactusa.png);
  /*transform: scale(0.65);*/
}
.swap_button_contact:active {
  background-image: url(../images/contactusa.png);
  /*transform: scale(0.6);*/
}

/* ::::::: ANIMATION ::::::: */

.animation {

  background-color: #191E24;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding: 2em 8em 2em 8%;
  text-align: center;
  height: 70%;
  /*display: flex;*/
}

.animation_header {
    font-size: 5em;
    font-family: Open Sans;
    font-weight: bold;
    letter-spacing: 2px;
    color: hsl(0, 0%, 100%);
    margin-bottom: 1em;
}

.collums {
  display: block;
  max-height: 60%;
  text-align: -webkit-center;

}

.animation_left_collum {
}

.animation_right_collum {
  text-align: center;

}
.icon_text{
  text-align: -webkit-center;
}

.animation_youtube_text {
  font-size: 2.5em;
  font-family: Open Sans;
  font-weight: lighter;
  color: #ffffff;
  line-height: 1.5;
  text-align: center;
  width: 80%;
}


/* ::::::: VIDEO PRODUCTION ::::::: */

.video_production {
  background-color: #15191e;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding: 2em 8% 2em 8%;
  text-align: center;
  height: 70%;
}

.video_production_header {
  font-size: 5em;
  font-family: Open Sans;
  font-weight: bold;
  letter-spacing: 2px;
  color: #ffffff;
  margin-bottom: 1em;
}

.video_production_left_collum {
  width: 80%;
  text-align: -webkit-center;
}
.v_icon_text {
  text-align: -webkit-center;
}

.video_productionn_right_collum {
  text-align: center;

}

.video_production_youtube_text {
  font-size: 2.5em;
  font-family: Open Sans;
  font-weight: lighter;
  color: #ffffff;
  line-height: 1.5;
  text-align: -webkit-center;

}

/* ::::::: CONTACT ::::::: */



.contact {
  background-image: url(../images/Mrr.jpg);
  /*background-position: 738px 0;*/
  background-repeat: no-repeat;
  /*background-size: 80%;*/
  background-size: cover;
  background-attachment: fixed;
  padding: 3em;
  text-align: center;

}

/*.contact_card {
  background-color: #fff;
  width: 50%;
  padding: 1em 2em 2em 2em;
  border-radius: 3em;
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}*/

.contact_header {
  font-size: 2em;
  font-family: Open Sans;
  font-weight: bold;
  letter-spacing: 2px;
  color:  #ffffff;
  margin-bottom: 0em;
}

.contact_text {
  font-size: 1em;
  font-family: Open Sans;
  letter-spacing: 1px;
  color: #93a4b9;
  line-height: 1.5em;
  width: 50%;
}

/* ::::::: FOOTER ::::::: */


.footer {
 background-color: #0c0d0e;
 padding: 3em;
 text-align: center;
 height: 10%;
}

.footer_email_adress {
  text-align: center;
  font-size: 55pt;
  font-family: Open Sans;
  font-weight: lighter;
  letter-spacing: 2px;
  color: #cf6468;
  margin-top: 5%;
}

.social_button {
  width: 4em;
  margin: 0 3em;
  transition: 0.3s;
  border-color: hsla(0, 0%, 0%, 0);
  border-width: 1px;
  border-style: solid;
  border-radius: 1em;
  padding: 1em;
}

.social_button:hover {
  transform: scale(1.1);
  border-color: hsla(0, 0%, 100%, 0.5);
}

















/* ::::::::::::::::::::::::::  SCREEN CALIBRATION  :::::::::::::::::::::   */





/* LARGE LAPTOPS */

@media only screen and (max-width: 2100px){

  .header {
    padding-top: 13%;
  }

  .sub_grand_title {
    font-size: 70pt;
  }
  .grand_title {
    font-size: 25pt;
  }
  .service_header {
    font-size: 4.5em;
    margin-bottom: 0;
  }
  .icon_text {
    margin-top: 1em;
  }

}

@media only screen and (max-width: 1880px){

  .grand_title {
    font-size: 270%;
    width: 45%;
  }
  .sub_grand_title {
    font-size: 60pt;
  }
  .grand_title {
    font-size: 20pt;
    /*width: 50%;*/
  }
  .video_img {
    width: 17em;
  }
  .video_s_paragraph {
    font-size: 1.7em;
    margin: auto;
  }
  .animation_img {
    width: 17em;
  }
  .animation_s_paragraph {
    font-size: 1.7em;
    margin: auto;
  }
  #yo {
    transform: scale(0.8);
  }



}

@media only screen and (max-width: 1440px){

  .llogo {
    width: 30%;
  }

  .nav {
    padding: 0.7em 2em 0.7em 5em;
  }
  .nav_title {
    font-size: 1.6em;
  }
  .nav_links {
    margin-top: 0.5em;
  }
  .nav_link {
    font-size: 1em;
  }

  .header {
    padding-top: 16%;
  }

  .swap_button_learn {
    transform: scale(0.5);
  }
  .swap_button_contact {
    transform: scale(0.5);
  }
  .sub_grand_title {
    font-size: 4em;
    color: #c7dad8;
  }
  .grand_title {
    font-size: 1em;
    margin: 2em 0;
  }
  span {
    color: #ffffff;
    line-height: 46px;
    margin-bottom: 14px;

  }
  .animation_header {
    margin-bottom: 0.5em;
  }
  .animation_header {
    font-size: 4em;
  }
  .video_production_header {
        margin-bottom: 0.5em;
  }
  .video_production_header {
        font-size: 4em;
  }


  .video_img {
    width: 15em;
  }

  .animation_img {
    width: 15em;
  }

  .video_production_service {
    margin: 4em 4em;
  }

  .animation_service {
    margin: 4em 4em;
  }

  #yo {
    transform: scale(0.7);
  }

  .see_more {
    transform: scale(1);
  }

  .video_s_paragraph {
    margin: 0;
  }

  .animation_s_paragraph {
    margin: 0;
  }

  .animation_youtube_text {
    font-size: 1.5em;
  }

  .video_production_youtube_text {
    font-size: 1.5em;
  }

  .into_buttons {
    display: block;
  }
  .scrolldown {
    display: none;
  }

  .contact {
    height: 60%;
    padding-top: 3em;
  }


}





/* SMALL LAPTOPS */

@media only screen and (max-width: 1024px){

  .nav {
    width: 88%;
  }
  .nav_title {
    font-size: 1.3em;
  }
  .nav_link {
    font-size: 0.9em;
  }
  .nav_link {
    margin: 0 1.2em;
  }
  .service_header {
    font-size: 2.5em;
    margin-bottom: 1em;
  }

  .swap_button_learn {
    transform: scale(0.5);
  }
  .swap_button_contact {
    transform: scale(0.5);
  }

  .grand_title {
    font-size: 80%;
    margin: 2em 0;
  }
  .sub_grand_title {
    font-size: 3em;
  }

  .header {
    padding-top: 16%;
  }

  .animation_header {
    font-size: 2.5em;
    margin: 0.8em 0;
  }

  iframe {
    width: 100%;
    height: 350px;
  }

  .animation {
    height: 70%;
    padding: 8%;
    padding-top: 3%;
  }
  .video_production {
    height: 70%;
    padding: 8%;
    padding-top: 3%;
  }
  .collums {
  }

  .icon_text {
    font-size: 1em;
    line-height: 1.5;
  }


  .header {
    padding-top: 15%;
    max-height: 73%;
  }

  .animation_youtube_text {
    font-size: 1em;

  }
  .animation_left_collum {
    height: 130%;
  }

  .video_production_youtube_text {
    font-size: 1em;
  }

  .video_production_header {
    font-size: 2.3em;
    margin: 0.8em 0;
  }
  .video_productionn_right_collum {
    height: 130%;
  }

  .animation_service {
    margin: 0;
  }
  .video_production_service {
    margin: 0;
  }
  .animation_s_paragraph {
    font-size: 1.5em;
  }
  .video_s_heading {
    font-size: 1.5em;
  }
  .video_s_paragraph {
    font-size: 1.5em;
  }
  .animation_s_heading {
    font-size: 1.5em;
  }
  .video_img {
    width: 10em;
  }
  .animation_img {
    width: 10em;
  }

  .contact {
    height: 50%;
    padding: 3em 5em 2em 5em;
  }
  .contact_header {
    font-size: 2em;
  }
  .contact_text {
    font-size: 1em;
    margin: 1em 0 -1em 0;
  }
  .see_more {
    transform: scale(0.8);
  }
  .social_button {
    width: 2em;
    margin: 0 2em;
  }
  .footer {
    padding: 2em;
    height: 16%;
  }


}

/* TABLETS */

@media only screen and (max-width: 768px){


  span {
    font-size: 1.3em;
    display: block;
    font-family: Open Sans;
    font-weight: bolder;
    margin-bottom: 0.5em;
    letter-spacing: 3px;
    line-height: 2;
    color: #E5B453;
  }

  .llogo {
    width: 20%;
    margin-bottom: 1em;
    display: block;
  }
  /*.mobile_sevices_text {
    font-family: Open Sans;
    font-size: 1.5em;
    width: 70%;
  }*/

  .the_services {
    display: none;
  }
  .service_header {
    display: none;
  }
  .service {
    display: none;
  }

  /*.mobile_sevices {
    display: block;
    text-align: -webkit-center;
    margin: 0;
  }*/

  .animation_header {
    font-size: 3em;
  }

  .sidebar_icon {
    width: 50%;
  }
  .nav {
    width: 85.8%;
    padding: 1em 3.8em 1em 3.8em;
  }
  .nav_links {
    margin-top: 0.65em;
  }
  .nav_link {
    font-size: 0.8em;
    margin: 0 0em 0 1em;
  }
  .nav_title {
    font-size: 1.5em;
  }

  .header {
    padding-top: 17%;
    height: 61%;
  }
  .into_buttons {
    display: none;
  }

  .grand_title {
    /*display: none;*/
  }
  .sub_grand_title {
    /*display: none;*/
  }

  .service {
    padding: 3em 0 3em 0;
    overflow: hidden;
  }
  .service_header {
    font-size: 2.5em;
    margin: 0em;
  }
  .into_buttons {
    margin: 0;
  }

  .contact_text {
    width: 100%;
  }

  .video_production_service {

  }

  .illustration_header {
    font-size: 4em;
  }

  .swap_button {
    transform: scale(0.75);
  }

  .swap_button:active {
    transform: scale(0.5);
  }

  .swap_button:hover {
    transform: scale(0.85);
  }

  .collums {
    display: block;
    margin: auto;
    max-width: 95%;
    max-height: 100%;
    text-align: -webkit-center;
  }

  .animation_header {
    font-size: 3em;
    margin-bottom: 1em;
    margin-top: 0;
  }

  .animation_right_collum {
    width: 100%;
    display: block;
  }
  .animation_left_collum {
    flex: none;
    height: auto;
    width: 100%;
    max-width: inherit;
  }

  .social_button_twwiter {
    width: 10%;
  }

  .social_button_instaram {
    width: 10%;
  }

  .social_button {
    margin: 0 0em;
  }
  .contact {
    padding-top: 5.5em;
  }
  .contact_header {
    font-size: 4em;
  }
  .contact_text {
    font-size: 1.5em;
  }
  .animation_s_paragraph {
    display: none;
  }
  .animation {
    height: 56%;
    padding: 2em 8%;

  }
  .video_production {
    height: 56%;
    padding: 2em 8%;

  }
  .video_production_header {
    font-size: 3em;
    margin-bottom: 1em;
    margin-top: 0;
  }
  .video_s_paragraph {
    display: none;
  }
  .video_production_left_collum {
    display: block;
  }
  .video_productionn_right_collum {
    flex: none;
    height: auto;
    width: 100%;
    max-width: inherit;
  }
  .footer {
    padding: 2em;
    height: auto;
  }


}


/* Large Moble Screens */

@media only screen and (max-width: 425px){


  body{
    overflow-x: hidden;
  }
  .scrolldown {
    display: none;
  }

  .nav_title {
    font-size: 1.5em;
  }
  .nav_link {
    font-size: 1em;
  }
  .nav {
    width: 93%;
    display: none;
  }

  .llogo {
    width: 40%;
    margin-bottom: 1em;
    display: block;
  }

  .header {
    width: initial;
    padding: 20% 7%;
    height: 90%;
    background-image: "assets/images/a_copy.jpg";
    background-color: #14212f;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  }

  .sub_grand_title {
    font-size: 1em;
  }

  .grand_title {
    font-size: 0.9em;
    max-width: 100%;
    width: 100%;
    display: block;
    letter-spacing: 2px;
  }

  .service {
    display: none;
  }

  .mobile_sevices_text {
    font-family: Open Sans;
    font-size: 1em;
    width: 80%;
  }

  .collums {
    max-width: 100%;
  }

  .illustrations {
    width: 119%;
  }

  .illustration_header {
    font-size: 3em;
  }

  .video_production_youtube_text {
    font-size: 0.7em;
  }
  .video_production_header {
    font-size: 2em;
  }

  .animation {
    width: initial;
    height: 50%;
  }

  .animation_header {
    font-size: 2.5em;
  }

  .animation_youtube_header_link {
    font-size: 1em;
  }

  .animation_left_collum {
    width: 100%;
  }

  iframe {
    height: 200px;
  }

  .animation_right_collum {
    width: 100%;
  }

  .youtube_icon {
    width: 60%;
  }

  .animation_youtube_text {
    font-size: 0.6em;
  }

  .contact {
    padding: 5em 0em;
    text-align: -webkit-center;
  }

  .contact_header {
    font-size: 2em;
  }
  .contact_card {
    width: 90%;
  }
  .contact_text {
    font-size: 0.8em;
    width: 100%;
  }

  .see_more {
    margin: 0 -30px;
  }

  .bio {
    /*background-position: 120% 70%;*/
    /*background-size: 50%;*/
    width: 119%;
    height: 30%;
  }

  .bio_header {
      font-size: 2.5em;
  }

  .bio_text {
    font-size: 0.8em;
  }

  .footer {
      width: initial;
  }

  .footer_email_adress {
      font-size: 2.6em;
  }

  .social_button_twwiter {
    width: 9%;
  }

  .social_button_instaram {
    width: 9%;
  }

}

@media only screen and (max-width: 375px){

  .nav_title {
    font-size: 1.2em;

  }

  .nav_link {
      font-size: 0.7em;
      margin: 0 0.5em 0 1em
  }

  .bio {
    /* activate when ready */
    /*background-position: 255px 300px;*/
  }

  .bio_text {
    font-size: 0.7em;
  }

  .nav_title {
    font-size: 1.5em;

  }

  .nav_link {
    font-size: 1em;

  }

}

@media only screen and (max-width: 320px){

  iframe {
    height: 50%;
  }

  .animation_youtube_text {
    font-size: 10px;
  }

  .animation {
      height: 40%;
  }

  .bio {
    /* activate when ready */
    /*background-position: 225px 335px;*/
  }

  .bio_text {
      font-size: 0.6em;
  }

  .bio_header {
      font-size: 2.2em;
  }

  .animation_header {
      font-size: 2.2em;
  }

  .illustration_header {
      font-size: 2.2em;
  }

  .footer_email_adress {
      font-size: 2.2em;
  }

  .nav_title {
      font-size: 1em;
  }

  .nav_links {
    margin-top: 0.3em;
  }

  .nav_link {
    font-size: 0.7em;
  }





}
