/* Primary color #3EDFD7 */
/* Secondary color #191E24 */
/* Background color #CBFFFB */
/* Accent color #DF3E46 */

/* Main.css By Jish Ernderson */


@font-face {
  font-family: 'Open Sans';
  src:  url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('TrueType'),
}

body {
  margin: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.ancor_with_no_decoration {
  text-decoration: none;
}

.heading5 {
  color: #cf6468;
  font-family: Open Sans;
  font-size: 20pt;
  letter-spacing: 1

}

.nav {
  background-color: rgba(25, 30, 36, 0.5);
  padding: 1em 5em 1em 5em;
  position: fixed;
  width: 94%;
  z-index: 100;
}

.nav_title {
  color: #CBFFFB;
  font-family: Open Sans;
  font-size: 2em;
  letter-spacing: 1;
  margin: 0;
  float: left;
}

.nav_links {
  margin-top: 0.6em;
  float: right;
}

.nav_link {
  float: left;
  color: rgba(203, 255, 251, 0.5);
  font-family: Open Sans;
  font-size: 1.3em;
  letter-spacing: 1;
  display: inline;
  margin: 0 2em 0 2em;
  text-decoration: none;
  transition: 0.5s;
}

.nav_link:hover {
  color: #fff;
}

.lable {
  color: #191E24;
  font-family: Open Sans;
  font-size: 1.8em;
  letter-spacing: 1;
  display: inline;
  text-decoration: none;
  transition: 0.5s;

}

.submitten {
  background-color: #3EDFD7;
  border-style: none;
  color: #fff;
  width: 10em;
  height: 3em;
  font-variant-caps: all-petite-caps;
  letter-spacing: 1px;
  transition: 0.5s;
}

.submitten:hover {
  background-color: hsl(130, 73%, 54%);
  color: #fff;
  transform: scale(1.1);
}

input {
  border-radius: 2em;
  border-style: solid;
  width: 15em;
  /* height: 5em; */
  font-size: 2em;
  padding: 1em;
  border-color: #aaa;
  margin: 1em;
}

textarea {
  border-radius: 3em;
  border-style: solid;
  padding: 1em;
  border-color: #aaa;
  font-size: 1.5em;
  max-width: 100%;
  max-height: 100%;
}

iframe {
  width: 100%;
  height: 60%;
}

/* ----------------- HOME PAGE ----------------- */


/* ::::::: HEADER ::::::: */

.header {
  background-image: url(../images/a.jpg);
  background-size: cover;
  height: 45%;
  background-attachment: fixed;
  padding: 15% 5em;
  text-align: -webkit-center;
}

.sub_grand_title {
  font-size: 8em;
  text-align: center;
  margin-top: 0;
  font-family: Open sans;
  font-weight: bold;
  letter-spacing: 2px;
  color: #3EDFD7;
  margin-bottom: -5px;
}

hr {
  margin-top: 4%;
  width: 50px;
  margin-bottom: -5.4%;
  color: #cf6468;
  border-style: solid;
}

.grand_title {
  margin: 1em;
  font-size: 3em;
  width: 50%;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  letter-spacing: 3px;
  color: #CBFFFB;
}

.into_buttons {
  display: -webkit-inline-box;

}


/* ::::::: service ::::::: */


.service {
  background-color: #fff;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding: 1em 8% 1em 8%;
  text-align: center;
}

.service_header {
  font-size: 5em;
  font-family: Open sans;
  font-weight: bold;
  letter-spacing: 2px;
  color: #191E24;
  margin-bottom: 0.5em;
}

.the_services {
  display: inline-flex;;
}

/* VIDEO PRODUCTION SERVICE */

.video_production_service {
  float: right;
  margin: 7em 7em;
  text-align: center;
  flex: 2
}

.video_img {
  width: 20em;
}

.video_s_heading {
  text-align: center;
  /* max-width: 50%; */
  font-size: 2em;
  font-family: Open sans;
  font-weight: bold;
  letter-spacing: 2px;
  color: #191E24;
}

.video_s_paragraph {
  text-align: center;
  font-size: 2em;
  font-family: Open Sans;
  letter-spacing: 3px;
  font-variant-caps: all-petite-caps;
  color: hsla(213, 18%, 12%, 0.65);
}

/* ANIMATION SERVICE */

.animation_service {
  float: left;
  margin: 7em 6em;
  text-align: center;
  flex: 1;
}

.animation_img {
  width: 20em;
}

.animation_s_heading {
  text-align: center;
  /* max-width: 50%; */
  font-size: 2em;
  font-family: Open sans;
  font-weight: bold;
  letter-spacing: 2px;
  color: #191E24;
}

.animation_s_paragraph {
  text-align: center;
  font-size: 2em;
  font-family: Open Sans;
  letter-spacing: 3px;
  font-variant-caps: all-petite-caps;
  color: hsla(213, 18%, 12%, 0.65);
}

/* INTERACTIVE BUTTONS */

.see_more {
  display: inline-block;
}

.swap_button_learn {
  background-image: url(../images/learnmore.png);
  width: 348px;
  height: 142px;
  transition: 0.3s;
  transform: scale(0.6);
}
.swap_button_learn:hover {
  background-image: url(../images/learnmorea.png);
  transform: scale(0.65);
}
.swap_button_learn:active {
  background-image: url(../images/learnmorea.png);
  transform: scale(0.6);
}

.swap_button_learn2 {
  background-image: url(../images/services_blue.png);
  width: 420px;
  height: 150px;
  transition: 0.3s;
  transform: scale(0.6);
}
.swap_button_learn2:hover {
  background-image: url(../images/services_white.png);
  transform: scale(0.65);
}
.swap_button_learn2:active {
  background-image: url(../images/services_white.png);
  transform: scale(0.6);
}

.swap_button_contact {
  background-image: url(../images/contactus.png);
  width: 348px;
  height: 142px;
  transition: 0.3s;
  transform: scale(0.6);
}
.swap_button_contact:hover {
  background-image: url(../images/contactusa.png);
  transform: scale(0.65);
}
.swap_button_contact:active {
  background-image: url(../images/contactusa.png);
  transform: scale(0.6);
}

/* ::::::: ANIMATION ::::::: */



.animation {
  background-color: #191E24;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding: 2em 8em 2em 8%;
  text-align: center;
  height: 70%;
  /*display: flex;*/
}

.animation_header {
    font-size: 5em;
    font-family: Open sans;
    font-weight: bold;
    letter-spacing: 2px;
    color: hsl(0, 0%, 100%);
    margin-bottom: 1em;
}

.collums {
  display: flex;
  max-height: 60%;
}

.animation_left_collum {
  flex: 2;
  height: 100%;
  max-width: 50%;
}

.animation_right_collum {
  flex: 1;
  text-align: -webkit-center;
  max-width: 100%;
  max-height: 60%;
}

.youtube_icon {
  width: 45%;
  text-align: center;
  transition: 0.3s;
}
.youtube_icon:hover {
  transform: scale(1.05);
}

.icon_text {
  vertical-align: top;
  margin-left: 3%;
  font-size: 0.9em;
  margin-top: 5em;
  line-height: 1.5
}

.animation_youtube_text {
  font-size: 2.5em;
  font-family: Open Sans;
  font-weight: lighter;
  color: #ffffff;
  line-height: 1.5;
  text-align: center;
  width: 70%;
}


/* ::::::: VIDEO PRODUCTION ::::::: */



.video_production {
  background-color: #15191e;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding: 2em 8% 2em 8%;
  text-align: center;
  height: 70%;
}

.video_production_header {
  font-size: 5em;
  font-family: Open sans;
  font-weight: bold;
  letter-spacing: 2px;
  color: #ffffff;
  margin-bottom: 1em;
}

.video_production_left_collum {
  flex: 1;
  max-width: 100%;
  max-height: 60%;
}

.video_productionn_right_collum {
  flex: 2;
  text-align: center;
  height: 100%;
  max-width: 50%;
}

.youtube_icon {
  width: 45%;
  text-align: center;
  transition: 0.3s;
}
.youtube_icon:hover {
  transform: scale(1.05);
}

.v_icon_text {
  margin-top: 6.5em;
  line-height: 1.5;
  font-size: 0.9em;
}

.video_production_youtube_header_link {
  font-size: 3em;
  font-family: Open Sans;
  font-weight: 600;
  letter-spacing: 2px;
  color: #3EDFD7;
  margin-top: 0px;
  transition: 0.3s;
  line-height: 2;
}

.video_productionn_youtube_header_link:hover {
  color: #CBFFFB;
}

.video_production_youtube_text {
  font-size: 2.5em;
  font-family: Open Sans;
  font-weight: lighter;
  color: #ffffff;
  line-height: 1.5;
}





/* ::::::: BIO ::::::: */



.contact {
  background-image: url(../images/Mrr.jpg);
  /*background-position: 738px 0;*/
  background-repeat: no-repeat;
  /*background-size: 80%;*/
  background-size: cover;
  background-attachment: fixed;
  padding: 10em;
  text-align: center;

}

/*.contact_card {
  background-color: #fff;
  width: 50%;
  padding: 1em 2em 2em 2em;
  border-radius: 3em;
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}*/

.contact_header {
  font-size: 5em;
  font-family: Open sans;
  font-weight: bold;
  letter-spacing: 2px;
  color:  #3EDFD7;
  margin-bottom: 0em;
}

.contact_text {
  font-size: 2em;
  font-family: Open Sans;
  letter-spacing: 1px;
  color: #CBFFFB;
  line-height: 1.5em;
}

/* ::::::: FOOTER ::::::: */


.footer {
 background-color: #0c0d0e;
 padding: 3em;
 text-align: center;
 height: 10%;
}

.footer_email_adress {
  text-align: center;
  font-size: 55pt;
  font-family: Open Sans;
  font-weight: lighter;
  letter-spacing: 2px;
  color: #cf6468;
  margin-top: 5%;
}

.social_button {
  width: 4em;
  margin: 0 3em;
  transition: 0.3s;
  border-color: hsla(0, 0%, 0%, 0);
  border-width: 1px;
  border-style: solid;
  border-radius: 1em;
  padding: 1em;
}


.social_button:hover {
  transform: scale(1.1);
  border-color: hsla(0, 0%, 100%, 0.5);
}

/* ::::::::::::::::::::::::::  SCREEN CALIBRATION  :::::::::::::::::::::   */

/* LARGE LAPTOPS */

@media only screen and (max-width: 2100px){

  .header {
    padding-top: 13%;
  }
  .v_icon_text {
        margin-top: 1.5em;
  }
  .sub_grand_title {
    font-size: 70pt;
  }
  .grand_title {
    font-size: 25pt;
  }
  .service_header {
    font-size: 4.5em;
    margin-bottom: 0;
  }
  .icon_text {
    margin-top: 1em;
  }

}

@media only screen and (max-width: 1880px){

  .grand_title {
    font-size: 270%;
    width: 70%;
  }
  .sub_grand_title {
    font-size: 60pt;
  }
  .grand_title {
    font-size: 20pt;
    width: 50%;
  }
  .video_img {
    width: 17em;
  }
  .video_s_paragraph {
    font-size: 1.7em;
    margin: auto;
  }
  .animation_img {
    width: 17em;
  }
  .animation_s_paragraph {
    font-size: 1.7em;
    margin: auto;
  }
  #yo {
    transform: scale(0.8);
  }



}

@media only screen and (max-width: 1440px){

  .swap_button_learn {
    transform: scale(0.5);
  }
  .swap_button_contact {
    transform: scale(0.5);
  }

  .grand_title {
    font-size: 160%;

  }

  .video_img {
    width: 15em;
  }

  .animation_img {
    width: 15em;
  }

  .video_production_service {
    margin: 4em 4em;
  }

  .animation_service {
    margin: 4em 4em;
  }

  #yo {
    transform: scale(0.7);
  }

  .see_more {
    transform: scale(1);
  }

  .video_s_paragraph {
    margin: 0;
  }

  .animation_s_paragraph {
    margin: 0;
  }

  .sub_grand_title {
    font-size: 4em;
  }

  .grand_title {
    font-size: 130%;
  }

  .animation_youtube_text {
    font-size: 1.5em;
    margin-left: 3em;
  }

  .video_production_youtube_text {
    font-size: 1.5em;
  }

  .into_buttons {
    margin-left: 2%;
  }

  .contact {
      height: 65%;
  }


}





/* SMALL LAPTOPS */

@media only screen and (max-width: 1024px){

  .swap_button_learn {
    transform: scale(0.5);
  }
  .swap_button_contact {
    transform: scale(0.5);
  }

  .grand_title {
    font-size: 160%;
  }

  .service_header {
    font-size: 3em;
    margin-bottom: 1em;
  }

  .animation_header {
    font-size: 2.5em;
  }

  iframe {
    width: 110%;
    height: 55%;
  }

  .animation {
    height: 70%;
    padding: 8%;
    padding-top: 3%;
  }
  .video_production {
    height: 70%;
    padding: 8%;
    padding-top: 3%;
  }
  .collums {
    margin-right: 6%;
  }

  .animation_left_collum {
    width: 55%;
  }

  .header {
    padding-top: 15%;
    max-height: 73%;
  }

  .animation_youtube_text {
    font-size: 1em;
    margin-top: -3em;
  }

  .video_production_youtube_text {
    font-size: 1em;
  }

  .video_production_header {
    font-size: 3em;
  }

  .animation_service {
    margin: 0;
  }
  .video_production_service {
    margin: 0;
  }
  .animation_s_paragraph {
    font-size: 1.5em;
  }
  .video_s_heading {
    font-size: 1.5em;
  }
  .video_s_paragraph {
    font-size: 1.5em;
  }
  .animation_s_heading {
    font-size: 1.5em;
  }
  .video_img {
    width: 10em;
  }
  .animation_img {
    width: 10em;
  }

  .contact_header {
    font-size: 3em;
  }
  .contact_text {
    font-size: 1.5em;
  }
  .contact {
    height: 50%;
    padding-top: 1.5em;
  }

}

/* TABLETS */

@media only screen and (max-width: 768px){

  .sidebar_icon {
    width: 50%;
  }
  .nav_links {
    margin-top: 0.45em;
  }
  .nav_link {
    font-size: 0.6em;
    margin: 0 2em 0 1em;
  }
  .nav_title {
    font-size: 1em;
  }

  .header {
    padding-top: 23%;
    max-height: 73%;
    width: 100%;
    text-align: -webkit-center;
  }

  .grand_title {
    font-size: 1em;
    text-align: -webkit-center;
    margin: 0;
  }

  .sub_grand_title {
      font-size: 3em;
      text-align: -webkit-center;
  }

  .service {
    padding: 1em 0 1em 0;
    overflow: hidden;
  }
  .into_buttons {
    margin: 0;
  }

  .video_production_service {

  }

  .illustration_header {
    font-size: 4em;
  }

  .swap_button {
    transform: scale(0.75);
  }

  .swap_button:active {
    transform: scale(0.5);
  }

  .swap_button:hover {
    transform: scale(0.85);
  }

  .animation_header {
    font-size: 4em;
  }

  .animation_youtube_header_link {
    font-size: 2em;
  }

  .animation_right_collum {
    width: 45%;
  }

  .bio_header {
    font-size: 4em;
  }

  .bio_text {
    font-size: 1.2em;
  }

  .bio {
    /* activate when ready */
    /*background-position: 400px 0;*/
  }

  .footer_email_adress {
    text-align: center;
    font-size: 3.6em;
    font-family: josefinSans;
    font-weight: lighter;
    letter-spacing: 2px;
    color: #cf6468;
    margin-top: 5%;
  }

  .social_button_twwiter {
    width: 10%;
  }

  .social_button_instaram {
    width: 10%;
  }

}


/* Large Moble Screens */

@media only screen and (max-width: 425px){


  .nav_title {
    font-size: 1.5em;
  }

  .nav_link {
      font-size: 1em;
  }


  .nav {
    width: 93%;
  }

  .header {
    width: 129%;
    padding-top: 37%;
    max-height: 59%;

  }

  .sub_grand_title {
    font-size: 1em;
  }

  .grand_title {
    font-size: 5em;
  }

  .illustrations {
    width: 119%;
  }

  .illustration_header {
    font-size: 3em;
  }

  .animation {
    width: 119%;
    height: 50%
  }

  .animation_header {
    font-size: 2.5em;
  }

  .animation_youtube_header_link {
    font-size: 1em;
  }

  .animation_left_collum {
    width: 56%;
  }

  iframe {
    height: 60%;
  }

  .animation_right_collum {
    width: 43%;
  }

  .youtube_icon {
    width: 60%;
  }

  .animation_youtube_text {
    font-size: 0.6em;
  }

  .bio {
    /*background-position: 120% 70%;*/
    /*background-size: 50%;*/
    width: 119%;
    height: 30%;
  }

  .bio_header {
      font-size: 2.5em;
  }

  .bio_text {
    font-size: 0.8em;
  }

  .footer {
      width: 119%;
  }

  .footer_email_adress {
      font-size: 2.6em;
  }

  .social_button_twwiter {
    width: 9%;
  }

  .social_button_instaram {
    width: 9%;
  }

}

@media only screen and (max-width: 375px){

  .nav_title {
    font-size: 1.2em;

  }

  .nav_link {
      font-size: 0.7em;
      margin: 0 0.5em 0 1em
  }

  .bio {
    /* activate when ready */
    /*background-position: 255px 300px;*/
  }

  .bio_text {
    font-size: 0.7em;
  }

  .nav_title {
    font-size: 1.5em;

  }

  .nav_link {
    font-size: 1em;

  }

}

@media only screen and (max-width: 320px){

  iframe {
    height: 50%;
  }

  .animation_youtube_text {
    font-size: 7px;
  }

  .animation {
      height: 40%;
  }

  .bio {
    /* activate when ready */
    /*background-position: 225px 335px;*/
  }

  .bio_text {
      font-size: 0.6em;
  }

  .bio_header {
      font-size: 2.2em;
  }

  .animation_header {
      font-size: 2.2em;
  }

  .illustration_header {
      font-size: 2.2em;
  }

  .footer_email_adress {
      font-size: 2.2em;
  }

  .nav_title {
      font-size: 1em;
  }

  .nav_links {
    margin-top: 0.3em;
  }

  .nav_link {
    font-size: 0.7em;
  }





}
