/* Primary color #cf6468 */
/* Secondary color #232323 */
/* Background color #f8f3e8 */
/* Accent Background color #ebdcbc */




@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body {
  margin: 0;
  background-color: #f8f3e8
}

.ancor_with_no_decoration {
  text-decoration: none;
}

.heading5 {
  color: #cf6468;
  font-family: OpenSans;
  font-size: 20pt;
  letter-spacing: 1

}

.nav {
  background-color: rgba(35, 35, 35, 0.9);
  padding: 15px 5% 15px 5%;
  position: fixed;
  width: 90%;
  z-index: 100;
}

.nav_title {
  color: #cf6468;
  font-family: OpenSans;
  font-size: 1.6em;
  letter-spacing: 1;
  margin: 0;
  float: left;
}

.nav_links {
  margin-top: 0.47em;
  float: right;
}

.nav_link {
  float: left;
  color: #cf6468;
  font-family: OpenSans;
  font-size: 1.1em;
  letter-spacing: 1;
  display: inline;
  margin: 0 1em 0 1em;
  text-decoration: none;
}

h1 {

}

h2 {

}

h3 {

}

iframe {
  width: 100%;
  height: 60%;
  margin-bottom: 5%;
}




/* ----------------- HOME PAGE ----------------- */


/* ::::::: HEADER ::::::: */

.header {
  background-image: url(../images/d_overlay.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  background-attachment: fixed;
  padding-top: 20%;
  max-height: 85%;
  text-align: center;
}

.sub_grand_title {
  font-size: 1.3em;
  text-align: center;
  font-family: OpenSans;
  font-weight: lighter;
  letter-spacing: 2px;
  color: #cf6468;
  margin-bottom: -5px;
}

hr {
  margin-top: 4%;
  width: 50px;
  margin-bottom: -5%;
  color: #cf6468;
  border-style: solid;
}

.grand_title {
  font-size: 8.5em;
  text-align: center;
  font-family: Merriweather;
  font-weight: 200;;
  letter-spacing: 3px;
  color: #f8f3e8;
}

/* ::::::: ILLUSTRATION ::::::: */


.illustrations {
  background-image: url(../images/background.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding: 5%;
  text-align: center;
}

.illustration_header {
  font-size: 7em;
  font-family: OpenSans;
  font-weight: 600;
  letter-spacing: 2px;
  color: #cf6468;
  margin-top: 0px;
}

/*.illustration_text {
  font-size: 16pt;
  font-family: Merriweather;
  font-weight: lighter;
  letter-spacing: 2px;
  color: #232323;
  margin-top: 0px;
  width: 50%;
}*/

.preveiw_gallery {
  width: 100;
  text-align: center;
}

.images {
  text-align: center;
}

.preview_img {
  width: 25%;
  border-radius: 10px;
  margin: 3%;
}

.see_more {
  text-align: -webkit-center;
}

.swap_button {
  background-image: url(../images/button_2.png);
  width: 238px;
  height: 66px;
  transition: 0.3s;
}

.swap_button:hover {
  background-image: url(../images/button_1.png);
  transform: scale(1.03);
}
.swap_button:active {
  background-image: url(../images/button_2.png);
  transform: scale(0.97);
}

/* ::::::: ANIMATION ::::::: */



.animation {
  background-image: url(../images/e_overlay.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding: 5%;
  height: 80%;
  display: -webkit-box;
}

.animation_left_collum {
 flex: 1;
 width: 50%;
}

.animation_header {
  font-size: 72pt;
  font-family: OpenSans;
  font-weight: 600;
  letter-spacing: 2px;
  color:#f8f3e8;
  margin-top: 0px;
}

.animation_right_collum {
  flex: 2;
  margin-left: 5%;
  text-align: center;
  width: 40%;
}

.youtube_icon {
  width: 45%;
  text-align: center;
  transition: 0.3s;
}
.youtube_icon:hover {
  transform: scale(1.05);
}

.icon_text {
  vertical-align: top;
  margin-left: 3%;
  line-height: 1.5
}

.animation_youtube_header_link {
  font-size: 3em;
  font-family: OpenSans;
  font-weight: 600;
  letter-spacing: 2px;
  color: #cf6468;
  margin-top: 0px;
  transition: 0.3s;
  line-height: 2;
}

.animation_youtube_header_link:hover {
  color: #ebdcbc;
}

.animation_youtube_text {
  font-size: 1.5em;
  font-family: Merriweather;
  font-weight: lighter;
  letter-spacing: 2px;
  color: #f8f3e8;
  line-height: 1.5;
}


/* ::::::: BIO ::::::: */



.bio {
  background-image: url(../images/c_overlay.jpg);
  /*background-position: 738px 0;*/
  background-repeat: no-repeat;
  background-color: #ffffff;
  /*background-size: 80%;*/
  background-size: cover;
  background-attachment: fixed;
  padding: 5%;
  height: 80%;
}

.bio_header {
  font-size: 72pt;
  font-family: OpenSans;
  font-weight: 600;
  letter-spacing: 2px;
  color: #cf6468;
  margin-top: 0px;


}

.bio_text {
  font-size: 21pt;
  font-family: Merriweather;
  font-weight: lighter;
  letter-spacing: 2px;
  color: #f8f3e8;
  line-height: 1.5;

}

/* ::::::: FOOTER ::::::: */


.footer {
 background-color: #232323;
 padding: 5%;
 text-align: center;
}

.footer_email_adress {
  text-align: center;
  font-size: 55pt;
  font-family: josefinSans;
  font-weight: lighter;
  letter-spacing: 2px;
  color: #cf6468;
  margin-top: 5%;
}

.social_button_twwiter {
  width: 7%;
  margin: 0 5% 0 5%;
  transition: 0.3s;
}
.social_button_instaram {
  width: 7%;
  margin: 0 5% 0 5%;
  transition: 0.3s;
}


.social_button_twwiter:hover {
  transform: scale(1.1);
}
.social_button_instaram:hover {
  transform: scale(1.1);
}


/* ----------------- GALLERY ----------------- */


.gallery {
  background-image: url(../images/background.png);
  background-attachment: fixed;
  background-size: cover;
}

.gallery_content {
}

.gallery_illustrations {
}

.illustration {
  width: 70%;
  margin: 5%;
  margin-top: 7.5%;
}

.sidebar {
  position: fixed;
  margin-left: 75%;
  margin-top: 10%;
  text-align: center;
}

.sidebar_icon {
  width: 20%;
  margin: 10%;
  transition: 0.3s;
}

.sidebar_icon:hover {
  transform: scale(1.1);
}


/* ::::::::::::::::::::::::::  SCREEN CALIBRATION  :::::::::::::::::::::   */

/* LARGE LAPTOPS */

@media only screen and (max-width: 1440px){

  .header {
    padding-top: 13%;

  }

}




/* SMALL LAPTOPS */

@media only screen and (max-width: 1024px){

  .animation_youtube_text {
    font-size: 1em;
  }

  .animation_youtube_header_link {
    font-size: 2em;
  }

  iframe {
    width: 110%;
    height: 55%;
  }

  .animation_header {
    font-size: 62pt;
  }

  .animation {
      height: 60%;
  }

  .animation_left_collum {
    width: 55%;
  }

  .header {
    padding-top: 23%;
    max-height: 73%;
  }

  .bio {
    /* activate when ready */
    /*background-position: 570px 0;*/
    height: 60%;
  }

}

/* TABLETS */

@media only screen and (max-width: 768px){

  .sidebar {
    margin-left: 75%;
    margin-top: 20%;
    text-align: -webkit-center;
    display: grid;
  }

  .sidebar_icon {
    width: 50%;
  }

  .header {
    padding-top: 23%;
    max-height: 73%;
  }

  .grand_title {
    font-size: 7em;
  }

  .sub_grand_title {
      font-size: 1em;
  }

  .illustration_header {
    font-size: 4em;
  }

  .swap_button {
    transform: scale(0.75);
  }

  .swap_button:active {
    transform: scale(0.5);
  }

  .swap_button:hover {
    transform: scale(0.85);
  }

  .animation_header {
    font-size: 4em;
  }

  .animation_youtube_header_link {
    font-size: 2em;
  }

  .animation_right_collum {
    width: 45%;
  }

  .bio_header {
    font-size: 4em;
  }

  .bio_text {
    font-size: 1.2em;
  }

  .bio {
    /* activate when ready */
    /*background-position: 400px 0;*/
  }

  .footer_email_adress {
    text-align: center;
    font-size: 3.6em;
    font-family: josefinSans;
    font-weight: lighter;
    letter-spacing: 2px;
    color: #cf6468;
    margin-top: 5%;
  }

  .social_button_twwiter {
    width: 10%;
  }

  .social_button_instaram {
    width: 10%;
  }

}


/* Large Moble Screens */

@media only screen and (max-width: 425px){


  .nav_title {
    font-size: 1.5em;
  }

  .nav_link {
      font-size: 1em;
  }


  .nav {
    width: 93%;
  }

  .header {
    width: 129%;
    padding-top: 37%;
    max-height: 59%;

  }

  .sub_grand_title {
    font-size: 1em;
  }

  .grand_title {
    font-size: 5em;
  }

  .illustrations {
    width: 119%;
  }

  .illustration_header {
    font-size: 3em;
  }

  .animation {
    width: 119%;
    height: 50%
  }

  .animation_header {
    font-size: 2.5em;
  }

  .animation_youtube_header_link {
    font-size: 1em;
  }

  .animation_left_collum {
    width: 56%;
  }

  iframe {
    height: 60%;
  }

  .animation_right_collum {
    width: 43%;
  }

  .youtube_icon {
    width: 60%;
  }

  .animation_youtube_text {
    font-size: 0.6em;
  }

  .bio {
    /* activate when ready */
    /*background-position: 275px 270px;*/
    width: 119%;
    height: 40%;
  }

  .bio_header {
      font-size: 2.5em;
  }

  .bio_text {
    font-size: 0.8em;
  }

  .footer {
      width: 119%;
  }

  .footer_email_adress {
      font-size: 2.6em;
  }

  .social_button_twwiter {
    width: 9%;
  }

  .social_button_instaram {
    width: 9%;
  }

}

@media only screen and (max-width: 375px){

  .nav_title {
    font-size: 1.2em;

  }

  .nav_link {
      font-size: 0.7em;
      margin: 0 0.5em 0 1em
  }

  .bio {
    /* activate when ready */
    /*background-position: 255px 300px;*/
  }

  .bio_text {
    font-size: 0.7em;
  }

  .nav_title {
    font-size: 1.5em;

  }

  .nav_link {
    font-size: 1em;

  }

}

@media only screen and (max-width: 320px){

  iframe {
    height: 50%;
  }

  .animation_youtube_text {
    font-size: 7px;
  }

  .animation {
      height: 40%;
  }

  .bio {
    /* activate when ready */
    /*background-position: 225px 335px;*/
  }

  .bio_text {
      font-size: 0.6em;
  }

  .bio_header {
      font-size: 2.2em;
  }

  .animation_header {
      font-size: 2.2em;
  }

  .illustration_header {
      font-size: 2.2em;
  }

  .footer_email_adress {
      font-size: 2.2em;
  }

  .nav_title {
      font-size: 1em;
  }

  .nav_links {
    margin-top: 0.3em;
  }

  .nav_link {
    font-size: 0.7em;
  }





}
